<ion-tabs>

  <ion-tab-bar slot="bottom" style="--background: #3235f5;">
    <ion-tab-button tab="tab1" href="/tabs/tab1" style="--color: white;">
      <ion-icon aria-hidden="true" name="grid"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" style="--color: white;">
      <ion-icon aria-hidden="true" name="send"></ion-icon>
      <ion-label>Daftar Pinjaman</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4" style="--color: white;">
      <ion-icon aria-hidden="true" name="wallet"></ion-icon>
      <ion-label>Data Pinjaman</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" href="/tabs/tab3" style="--color: white;">
      <ion-icon aria-hidden="true" name="information"></ion-icon>
      <ion-label>Tentang</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-tabs>